@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Oswald&display=swap');
*{
    font-family:Montserrat ;
    margin-left: 5px;
    
    margin-top: 5px;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.nav-items{
    display: flex;

}
.nav-item{
    /* padding: 20px; */
    /* margin: 40px; */
    margin-top: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family:Montserrat ;
    margin-bottom: 0;
    margin-left: 40px;
    font-weight: 100;
}
.active-item{
    color: #FE5E35;
    font-weight: 700;
}
.intro-section{
    display: grid;
    grid-template-columns: 680px 1fr;
}
.left-section{
    margin-top: 40px;
}
.left-section >h3{
    font-size: 35px;
    font-weight: 500;
}
.left-section >h3 > img{
    display: inline-block;
    margin-bottom: -10px;
}
.left-section > h1{
    font-size: 60px;
}
.sub-headline{
    margin-left: 85px;
    display: flex;
    align-items: center;
    margin-top: -15px;
    font-size: 25px;
    font-weight: 100;
}
.sub-headlines img{
    background-color:#FE5E35 ;
    border-radius: 20px;
    padding: 5px;
    width: 20px;
    margin-right: 10px;

}
.text{
    color:#CAD5E2 ;
    
}
.action-btns{
    margin-top: 60px;
}
.action-btn{
    border-radius: 25px;
    background-color:#FE5E35;
    border: 0;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #ffffff;
}

.headphone-div{
    position: relative;
}
.headphone-div img:nth-child(2){
    position: absolute;
    top: 0;
    left: 100px;
    
}
.headphone-div img:nth-child(1){
    position: absolute;
    top: 250px;
    
}
.discount-content{
    position: absolute;
    top: 280px;
    left: 30px;
    align-items: center;
    color: #ffffff;

}
.discount-content>h4{
    font-size:15px ;
    margin-left: 10px;

}
.discount-content>h1{
    font-size: 40px;
    margin-top: -20px;
    margin-left: -8px;
}
.image-headphone{
    height: 450px;
    margin-left: 50px;
    
}
.discount{
    height: 150px;
}
.dots{
    display: flex;
    justify-content: space-around;
    margin-left: 180px;
    width: 200px;

}
.dot{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    
    
}
.yellow-dot{
    background-color: yellow;
}
.tomato-dot{
    background-color: #FE5E35;
}
.black-dot{
    background-color: black;
}
.right-section  > button{
    margin-left: 200px;
    margin-top: 50px;
}